#pagepfr h3 {
	background-color: #E2E44A;
	padding:  5px 10px;
	margin-bottom: 0;
}
#pagepfr .infodefi img {
	float:left;
	margin-right: 10px;
}
a.btn {
	float:right;
	display: inline-block;
}
#pagepfr .blocdefi {
    border: 3px solid #E2E44A;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 0;
}